<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
    <h1>All users</h1>
    <ul>
        {% for user, details in users.items() %}
            <li>
                {{ user }} is {{ details['age'] }} years old from {{ details['country'] }}.
                {% if details['country'] == 'USA' %}
                    Special message for USA users: Welcome!
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>