<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet Page</title>
</head>
<body>
    <h1>Welcome to the Greet Page!</h1>
    <h1>Welcome {{ title }}, {{ user }}!</h1>
    <h1>The time now is: {{ time }}.</h1>

    <script>
        console.log("Debug message: This is a feedback debug for testing purposes.");
    </script>
</body>
</html>